body {
    font-family: 'Century Gothic';
    font-size: 10.0pt;
    background-image: url("../images/pattern 2.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 0px 0px 0px 0px;
    position: relative;
    z-index: -1;
    opacity: 0.9;
}

.chat{

}
